<%-include("./_partials/header")-%>

<head>
  <style>
    .container {
      width: 65rem;
      margin: 0 auto;
      padding: 1rem;
    }
    .title {
      font-size: 48px;
    }
    .subtitle {
      font-size: 18px;
      margin: 1rem 0;
    }
    .cards {
      display: flex;
      justify-content: space-between;
      width: 100%;

      flex-wrap: wrap;
      padding: 1rem 0;
      gap: 2rem;
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      background-color: #f9f5e7;
      border-radius: 1rem;
      padding: 1rem;
      width: 30%;
    }

    .card-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .card-title {
      text-align: center;
      font-size: 24px;
    }

    .card-detail {
      display: flex;
      gap: 3rem;
    }

    

    .card button {
      width: 100%;
      margin-top: 1em;
      background-color: #a7727d;
      color: white;
      border: none;
      padding: 0.5em;
      border-radius: 0.5em;
      cursor: pointer;
      transition-duration: 200ms;
    }

    button {
      background-color: #a7727d;
      color: white;
      border: none;
      padding: 0.5em;
      border-radius: 0.5em;
      cursor: pointer;
      transition-duration: 200ms;
    }

    button:hover {
      background-color: #b56373;
    }

    .bottom-action {
      margin-top: 2rem;
      display: inherit;
      text-align: center;
    }

    .bottom-action button {
      font-size: 24px;
      padding: 0.5em 1em;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1 class="title">List of <%= prof? "Recommended" : "" %> Courses</h1>
    <% if (prof) { %>
    <p class="subtitle">
      As a/an <%= courses[0].Proficiency.level %> student, here are some courses
      that you might be interested...
    </p>
    <% } else { %>
    <p class="subtitle">
      Here are all of the courses that are being offered by Writerify...
    </p>
    <% } %>

    <div class="cards">
      <% courses.forEach(course => { %>
      <div class="card">
        <div class="card-content">
          <h1 class="card-title"><%= course.name %></h1>
          <p class="card-description"><%= course.description %></p>
        </div>
        <div>
          <div class="card-detail">
            <p><strong>Duration</strong><br /><%= course.duration %></p>
            <p><strong>Level</strong><br /><%= course.Proficiency.level %></p>
            <p><strong>Price</strong><br /><%= course.price %></p>
          </div>
          <a href="/courses/<%= user.id %>/enroll/<%= course.id %>"
            ><button>Enroll</button></a
          >
        </div>
      </div>
      <% }); %>
    </div>
    <% if (prof) { %>
    <a class="bottom-action" href="/courses/<%= user.id %>">
      <button>Let me see all of the courses!</button>
    </a>
    <% } else { %>
    <a class="bottom-action" href="/courses/<%= user.id %>?prof=<%= user.ProficiencyId %>">
      <button>Give me courses recommendation!</button>
    </a>
    <% } %>
  </div>
</body>
