<%-include("./_partials/header")-%>

<head>
  <style>
    .container {
      width: 65rem;
      margin: 0 auto;
      padding: 1rem;
    }
    .title {
      font-size: 48px;
    }
    .subtitle {
      font-size: 24px;
      margin: 1rem 0;
    }
    .cards {
      display: flex;
      justify-content: space-between;
      width: 100%;

      flex-wrap: wrap;
      padding: 1rem 0;
      gap: 2rem;
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      background-color: #f9f5e7;
      border-radius: 1rem;
      padding: 1rem;
      width: 30%;
    }

    .card-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .card-title {
      text-align: center;
      font-size: 24px;
    }

    .card-detail {
      display: flex;
      gap: 3rem;
    }

    .card button {
      width: 100%;
      margin-top: 1em;
      background-color: #a7727d;
      color: white;
      border: none;
      padding: 0.5em;
      border-radius: 0.5em;
      cursor: pointer;
      transition-duration: 200ms;
    }

    button {
      background-color: #a7727d;
      color: white;
      border: none;
      padding: 0.5em;
      border-radius: 0.5em;
      cursor: pointer;
      transition-duration: 200ms;
    }

    button:hover {
      background-color: #b56373;
    }

    .bottom-action {
      margin-top: 2rem;
      display: inherit;
      text-align: center;
    }

    .bottom-action button {
      font-size: 24px;
      padding: 0.5em 1em;
    }
  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List of Courses</title>
</head>

<body>
  <div class="container">
    <h1 class="title">List of <%= prof? "Recommended" : "" %> Courses</h1>

    <% if (prof) { %>
    <p class="subtitle">
      As a/an <%= courses[0].Proficiency.level %> student, here are some courses
      that you might be interested...
    </p>
    <% } else { %>
    <p class="subtitle">
      Here are all of the courses that are being offered by Writerify...
      <form action="" method="get">
        <input type="text" name="search"/>
        <input type="submit" value="Search" />
      </form>
    </p>
    <% } %>

    <% if (courses.length === 0) { %>
        <p>No courses are found!</p>
    <% } else { %>
        <div class="cards">
        <% courses.forEach(course => { %>
        <div class="card">
            <div class="card-content">
            <h1 class="card-title"><%= course.name %></h1>
            <p class="card-description"><%= course.description %></p>
            </div>
            <div>
            <div class="card-detail">
                <p><strong>Duration</strong><br /><%= course.duration %></p>
                <p><strong>Level</strong><br /><%= displayCourseLevel(course.Proficiency.level) %></p>
                <p><strong>Price</strong><br /><%= course.convertPrice() %></p>
            </div>
            <% if (user.Courses.every(enrolledCourse => enrolledCourse.name !==
            course.name)) { %>
            <form
                action="/courses/<%= user.id %>/enroll/<%= course.id %>"
                method="post"
            >
                <a style="margin: 0;" href="/courses/<%= user.id %>/enroll/<%= course.id %>">
                <script
                    src="//checkout.stripe.com/v2/checkout.js"
                    class="stripe-button"
                    data-key="<%= key %>"
                    data-amount="<%= course.price * 100%>"
                    data-label="Enroll"
                    data-currency="usd"
                    data-name="<%= user.username %>"
                    data-description="Checkout for enrolling in <%= course.name %>"
                    data-locale="auto"
                ></script>
                </a>
            </form>
            <% } else { %>
            <a style="margin:0" href="/courses/<%= user.id %>/unenroll/<%= course.id %>">
                <button>Unenroll</button>
            </a>
            <% } %>
            </div>
        </div>
        <% }); %>
        </div>
    <% } %>

    <% if (prof) { %>
    <a class="bottom-action" href="/courses/<%= user.id %>">
      <button>Let me see all of the courses!</button>
    </a>
    <% } else { %>
    <a
      class="bottom-action"
      href="/courses/<%= user.id %>?prof=<%= user.ProficiencyId %>"
    >
      <button>Give me courses recommendation!</button>
    </a>
    <% } %>

  </div>
</body>
