<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
        .stripe-button-el
        </style>
    <title>List of Recommended Courses</title>
</head>
<body>
    <h1>List of <%= prof? "Recommended" : "" %>  Courses</h1>

    <% if (prof) { %>
        <h2>As a/an <%= courses[0].Proficiency.level %> student, here are some courses that you might be interested...</h2>
    <% } else { %>
        <h2> Here are all of the courses that are being offered by Writerify...</h2>
    <% } %>

    <table class="tg">
        <thead>
          <tr>
            <th class="tg-0pky">Course Name</th>
            <th class="tg-0pky">Description</th>
            <th class="tg-0pky">Duration</th>
            <th class="tg-0pky">Level</th>
            <th class="tg-0pky">Price</th>
            <th class="tg-0pky">Actions</th>
          </tr>
        </thead>
        <tbody>
            <% courses.forEach(course => { %>
            <tr>
                <td class="tg-0pky"><%= course.name %></td>
                <td class="tg-0pky"><%= course.description %></td>
                <td class="tg-0pky"><%= course.duration %></td>
                <td class="tg-0pky"><%= course.Proficiency.level %></td>
                <td class="tg-0pky"><%= course.price %></td>
                <td class="tg-0pky">
                <% if (user.Courses.every(enrolledCourse => enrolledCourse.name !== course.name)) { %>
                    <form action="/courses/<%= user.id %>/enroll/<%= course.id %>" method="post">
                        <a href="/courses/<%= user.id %>/enroll/<%= course.id %>">
                        <script
                        src="//checkout.stripe.com/v2/checkout.js"
                        class="stripe-button"
                        data-key="<%= key %>"
                        data-amount="<%= course.price * 100%>"
                        data-label="Enroll"
                        data-currency="usd"
                        data-name="<%= user.username %>"
                        data-description="Checkout for enrolling in <%= course.name %>"
                        data-locale="auto" >
                        </script>
                        </a>
                    </form>
                <% } else { %>
                    <a href="/courses/<%= user.id %>/unenroll/<%= course.id %>">
                        <button>
                            Unenroll
                        </button>
                    </a>
                <% } %>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>

    <% if (prof) { %>
        <a href="/courses/<%= user.id %>">
            <button>Let me see all of the courses!</button>
        </a>
    <% } else { %>
        <a href='/courses/<%= user.id %>?prof=<%= user.ProficiencyId %>'>
            <button>Give me courses recommendation!</button>
        </a>
    <% } %>


</body>
</html>
